@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
body{
	font-family: 'Readex Pro', sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
	font-family: 'Readex Pro', sans-serif;
}

*{
	margin:0; 
	padding:0;
}

.headermain{
	background-color: white;
	
}

.headermain a{
	color: #4F4F4F !important;
	font-weight: bold;
}


.noidung1{
	margin-top: 100px;
}

.noidung{
	height: 400px;
	background-color: #FDFFAF;
}
.left{
	margin-top: 90px;
	margin-left: 120px;
	margin-right: 120px;
}
.right{
	margin-top: 90px;
	margin-left: 50px;
	margin-right: 180px;
}

.info{
	background-color: #2c3e50;
	margin-top: 150px;
}

footer{
	background-color: #1a252f;
	color: white;
}


@media screen and (max-width:415px){
	.card-body{
		padding-left: 0 !important;
	}
	.navbar-brand{
		width: 50% !important;
	}
	.navbar-brand img{
		width: 50% !important;
	}
	.text{
	margin-top: 420px;
	}

	.nd3{
/*	height: 400px;*/
/*	background-color: white;*/
	}
	.left{
		margin-top: 10px;
		margin-left: 0px;
		margin-right: 0px;
	}
	
	.right{
		margin-top: 30px;
		margin-left: 0px;
		margin-right: 0px;
	}
	
	
}